<%= form_with(model: restaturant) do |form| %>
  <% if restaturant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaturant.errors.count, "error") %> prohibited this restaturant from being saved:</h2>

      <ul>
        <% restaturant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
